.back_click_place {
    height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #cfcfcf;
    
    a {
        text-decoration: none;
        color: #cfcfcf;
        font-size: 1em;
    }
}

.back_arrows {
    color: #cfcfcf;
    font-size: 0.5em;
}