@import 'reset';
@import 'main';
@import 'header';
@import 'backclick';
@import 'footer';


.about_author {
    .container {
        flex-direction: row;
    }
}

.description {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5vw;
    
    p {
        font-size: 1.25vw;
        line-height: 2vw;
    } 
}

.photo_author {
    
    .container {
        
        img {
            max-width: 1100px;
            width: 100%;
            height: auto;
        }
    }
}
