@import 'reset';
@import 'main';
@import 'header';
@import 'backclick';
@import 'footer';
@import 'media';
@import 'variables';

.photo, .photo_description {
  margin-bottom: 2vw;  
}

.photo {
    
    img {
        max-width: $maxWidth;
        width: 100%;
        height: auto;
    }   
}

.photo_description {
    
    .container {
        flex-direction: row;
        width: 60%;
        font-size: $fontSize;
        line-height: 20px;
        text-align: center;
        
        p {
            
            span {
                color: $mainColor;
            }
        }
    }
}