
@import 'partials/reset';
@import 'sections/main';
@import 'sections/header';
@import 'sections/backclick';
@import 'sections/photomenu';
@import 'partials/grid';
@import 'sections/footer';
@import 'partials/media';
@import 'partials/variables';


.slider_section {
    margin-bottom: 3vw;
}

.photo_show {
    height: auto;
    
    img {
        max-width: $maxWidth;
        width: 100%;
        height: auto;
    }
}







