@import 'partials/variables';

/* for large screens */
//@media only screen and (min-width: 1200px) {
//    font-size: $fontSize;
//    a, p, h1 {
//        font-size: $fontSize;
//    }
//    
//}

@media only screen and (min-width: 1100px) and (max-width: 8000px) {
    .transparent-box {
        height: 135px;
    }
    
    font-size: $fontSize;
    
    a, p, h1 {
        font-size: $fontSize;
    }
    
    .slider_section {
        margin-bottom: 40px;
    }
    
    .photo_row {
        margin-top: 20px;
    }
    
    footer {
        margin-top: 60px;
        .container {
            margin-bottom: 60px;
        }
    }
    
}

/* for medium screens & tablets*/

@media only screen and (min-width: 960px) and (max-width: 1099px) {
    font-size: $fontSizeMedium;
    a, p, h1 {
        font-size: $fontSizeMedium;
    }
}

/* for smaller tablets & smartphones */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    font-size: $fontSizeSmall;
    a, p, h1 {
        font-size: $fontSizeSmall;
    }
    
    .menu {
        width: 100%;
    }
}

/* for smaller smartphones*/
@media only screen and (max-width: 767px) {
    font-size: $fontSizeExtraSmall;
    a, p, h1 {
        
        font-size: $fontSizeExtraSmall;
    }
    
    .menu {
        width: 100%;
    }
    
    .transparent_box {
        display: flex;
    }
    
//    .photo_menu {
//        margin-bottom: 2vw;
//    }
//    
//    .photo_row {
//        margin: 0;
//    }
//    to nie tu, tylko dla ekranów mniejszych niż costam
}